################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/Diario/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/Diario/obj
/Diario/bin/Release/net8.0-windows10.0.19041.0/win10-x64
